body
{
    background-color: #f8f9fa!important;
}
.first
{
    margin-top: 30PX;
    
}


.first p
{
  font-weight: 500;
    
    font-size: 20PX;
    margin-top: 10px;
}
.left
{
    float: left;
    width: 65%;
}
.right
{
    float: right;
    width: 30%;
    margin-top: 10px;
   
}
h3
{
    color: gray;
    
}


