body
{
    background-color: #f8f9fa!important;
}
.first
{
    margin-top: 30PX;
    
}


.first p
{
  font-weight: 500;
    
    font-size: 20PX;
    margin-top: 10px;
}
footer
{
    margin-top: 120px;
    margin-bottom: 50px;
}
footer a{
    margin-top: 10px;
}

